#root
    overflow: hidden
    height: 100%
    
ul
    padding: 0;
    margin: 0;
    list-style-type: none;

.vbox
    display: flex;
    flex-direction: column !important;
    position: relative;

.flex-auto
    flex: auto;

.App, #projectViewer
    height: 100%

