.framework-types
    color: red

.custom-types
    color: blue

.editor-popup
    border: 1px solid rgb(148, 166, 202)
    background-color: rgb(233, 238, 255)    
    font-family: Menlo,monospace
    .no-suggestions
        font-weight: bold
        padding-right: 50px;
        padding-left: 4px;
        line-height: 12px;
        font-size: 12px;
    >ul
        font-size: 13px
        padding: 1px
        >li
            user-select: none
            cursor: pointer
            padding-right: 50px
            &.selected
                background-color: rgb(196,213,255)

    .action-name
        

    .action-icon
        position: relative
        display: inline
        margin: 0 17px 0 5px
        .circle
            position: absolute
            display: inline-block
            height: 13px
            width: 13px
            border-radius: 50%
            top: 1px
        .letter
            position: absolute
            top: -2px
            left: 3.5px
            font-size: 11px