.framework-types
    color: red

.custom-types
    color: blue

.component-type-selector
    >ul
        border: 1px solid rgb(148, 166, 202)
        padding: 1px 1px 1px 2px
        font-family: Menlo,monospace
        font-size: 13px
        background-color: rgb(233, 238, 255)
        >li
            padding-right: 50px
            &.selected
                background-color: rgb(196,213,255)