#header
    display: flex
    align-items: center
    background-color: white
    border-bottom: 1px solid rgb(204, 204, 204)
    // line-height: 26px

    .breadcrumbs-separator
        width: 12px
        
.match-result
    margin-left: 20px
    font-size: 12px
    cursor: default

    .create-page-btn
        padding: 0 10px
        margin-left: 10px

    .nomatch-icon
        width: 12px
        height: 12px
        display: inline-block
        margin-right: 3px

.header-tab
    position: relative
    float: left
    padding: 2px 5px
    // height: 26px
    line-height: 22px
    white-space: nowrap
    cursor: default
    display: flex
    align-items: baseline
    color: #5a5a5a
    cursor: pointer
    user-select: none

    &.selected
        border-bottom: 2px solid rgb(26,115,232)
    &:hover
        background-color: #EAEAEA
    .close-icon
        width: 8px
        height: 8px
        background-color: red
        display: inline-block
        &:hover
            background-color: green
    .match-circle
        margin-left: 6px

.project-explorer
    font-weight: 500

.go-back-icon
    cursor: pointer
    margin-top: 2px
    margin-left: 4px

.matched-page
    cursor: pointer
    margin: 0 5px;

.matched-pages-container
    display: flex
    margin-left: auto;

.tab-icon
    width: 16px;
    height: 16px;
    position: absolute;
    top: 5px;

.tab-name
    margin-left: 20px

.header-actions
    align-self: center
    margin-left: auto
    margin-right: 5px

.root-selector-wrap
    font-size: 12px;
    margin-left: 3px;
