.matching-page
    position: absolute
    bottom: 0
    width: 100%
    padding: 1px 10px
    background-color: gainsboro
    border-top: 1px solid rgb(204, 204, 204)
    font-size: 12px
    cursor: default

    .current-url
        max-width: 50%
        margin-right: 5px

    .page-name
        cursor: pointer

    .create-page-btn
        padding: 1px 10px;
        margin-left: 10px;

    .match-icon, .nomatch-icon
        width: 12px
        height: 12px
        display: inline-block
        margin-right: 3px