*[ws-highlight][ws-list-selector],
*[ws-highlight][ws-list-selector] *,
*[ws-highlight][ws-list-selector]::placeholder,
*[ws-highlight][ws-list-selector] *::placeholder{
	visibility: hidden;
/*	background: white !important;
	color: white !important;
	border-color: white !important;
	box-shadow: none !important;
	outline: none !important;
*/}