
.component-instance
    font-size: 13px
    line-height: 13px
    color: #111
    overflow: hidden
    position: relative
    font-family: Menlo, monospace

    .body-wrap
        display: inline-block
        margin-left: 45px
        border-top: 2px solid rgba(0,0,0,0)
        border-bottom: 2px solid rgba(0,0,0,0)
        width: 100%

    &.selected
        .body-wrap
            border-top: 2px solid rgb(237,237,244)
            border-bottom: 2px solid rgb(237,237,244)


    .line-prefix
        position: absolute
        width: 45px
        height: 18px
        border-right: 1px solid #999
        text-align: right
        user-select: none
        font-size: 13px
        line-height: 18px

    .line-index
        margin-right: 5px
        color: cadetblue

.type-name
    color: rgb(83, 145, 184)
    margin-left: 5px

.field-name-wrap
    display: inline-block

.field-name
    text-decoration: none

.field-name, .type-name
    cursor: text
    display: inline-block
    min-width: 1px
    line-height: 14px
    
    &:focus:not(:empty)
        background-color: rgb(226,230,214)
    &.invalid
        color: rgb(253,3 ,38)

.error-icon
    display: none
    float: left
    margin: 2px 4px 0 10px
    vertical-align: top
    opacity: 0.7

.component-instance.has-error
    .error-icon
        display: inline
    //background-color: lavenderblush

.component-instance.deleted
    animation-iteration-count: 1
    animation-name: delete-component-instance
    animation-duration: 300ms
    animation-timing-function: linear
    animation-fill-mode: forwards

@keyframes delete-component-instance
    0%
        opacity: 1
        height: 18px
    100%
        opacity: 0
        height: 0px
        border: 0
