.expand-icon
    width: 8px
    height: 8px
    background-color: red
    display: inline-block

.expanded .expand-icon
    background-color: #74B266

.tree-item
    cursor: pointer
    display: flex
    justify-content: flex-start
    align-items: center
    &.match
        background-color: beige

.website
    padding-left: 10px

.website-page
    padding-left: 46px

#webSitesTree
    .selectable
        user-select: none
    .selectable.selected
        background-color: rgba(233, 240, 251, 0.6)	
    .selectable:hover
        background-color: rgba(233, 240, 251, 0.3)

    .match-circle
        margin-left: auto
        margin-right: 5px

.tree-name
    margin-left: 8px

.tree-icon    
    width: 16px
    height: 16px
    display: inline-block
